{
  "openapi": "3.0.4",
  "info": {
    "title": "Dayton Freight API",
    "description": "# Getting Started\n\nEdit this content by editing the the file /Docs/overview.md\n\n---\n\n## Authentication",
    "termsOfService": "https://www.daytonfreight.com/terms-of-use",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://pwp-api-development.purplewave-b66e1cbb.eastus.azurecontainerapps.io/"
    },
    {
      "url": "https://api.daytonfreight.com"
    },
    {
      "url": "https://api-sandbox.daytonfreight.com"
    }
  ],
  "paths": {
    "/v1/service-centers": {
      "get": {
        "tags": [
          "Service Centers"
        ],
        "summary": "Service Centers",
        "description": "Gets service center information for all Dayton Freight service centers.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceCentersResponseModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/service-centers/{id}": {
      "get": {
        "tags": [
          "Service Centers"
        ],
        "summary": "Service Centers By Id",
        "description": "Gets service center information for a single Dayton Freight service center.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The three character Dayton Freight service center id.",
            "required": true,
            "schema": {
              "maxLength": 3,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceCentersResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/shipping/shipping-classes": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Shipping Classes",
        "description": "Gets all the Dayton Freight accepted shipping classes.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingClassesResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/shipping/packaging-types": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Packaging Types",
        "description": "Gets a list of Dayton Freight acceptable packaging types.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackagingTypesResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Edit this content by editing the the file /Docs/operations/GET_v1_accounts.md",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/images": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Images By Pro",
        "description": "Retrieves Dayton Freight image data from the Document Imaging System based on results from the Images/Search endpoint.\r\nThis endpoint is dependent on data returned from the Images/Search endpoint. The type and hash parameters for this endpoint are returned in the Images/Search endpoint. Please call that endpoint first.",
        "parameters": [
          {
            "name": "pro",
            "in": "query",
            "description": "Dayton Freight PRO number.",
            "required": true,
            "schema": {
              "maxLength": 11,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The document type for this specified PRO number. This value must first be retrieved by using the Images/Search endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "description": "The hash code retrieved from the Images/Search endpoint for the specified Document Type for the requested PRO number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The image format requested for the image response data. Specifying a format not in the list or not specifying a format defaults to a tif.",
            "schema": {
              "$ref": "#/components/schemas/ImageFormat2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/images/search": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Search By Pro",
        "description": "Searches for document images by a given Dayton Freight PRO number.",
        "parameters": [
          {
            "name": "pro",
            "in": "query",
            "description": "Dayton Freight PRO number.",
            "required": true,
            "schema": {
              "maxLength": 11,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSearchResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/service/holidays": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Holidays",
        "description": "Gets all service holidays in a date range.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/service/service-alerts": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Service Alerts",
        "description": "Gets active service alerts.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAlertsResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/service/transit-times": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Transit Times",
        "description": "Returns service eligibility and transit time information for a specified origin and destination zip code.",
        "parameters": [
          {
            "name": "originZip",
            "in": "query",
            "description": "Origin postal code. It is 5-digit for the United States, 5-digit for Mexico, or 6-character alternating letters and digits (w/o space/hyphen in between 3rd and 4th characters) for Canada",
            "required": true,
            "schema": {
              "maxLength": 7,
              "minLength": 5,
              "pattern": "/(^[A-Za-z]\\d[A-Za-z][ -]?\\d[A-Za-z]\\d)|(^\\d{5})$/",
              "type": "string"
            }
          },
          {
            "name": "destinationZip",
            "in": "query",
            "description": "Destination postal code. It is 5-digit for the United States, 5-digit for Mexico, or 6-character alternating letters and digits (w/o space/hyphen in between 3rd and 4th characters) for Canada",
            "required": true,
            "schema": {
              "maxLength": 7,
              "minLength": 5,
              "pattern": "/(^[A-Za-z]\\d[A-Za-z][ -]?\\d[A-Za-z]\\d)|(^\\d{5})$/",
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransitTimesResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/bill-of-ladings/create": {
      "post": {
        "tags": [
          "Bill of Ladings"
        ],
        "summary": "Create Bill of Lading",
        "description": "Creates a new bill of lading with Dayton Freight based on the standards of the LTL Digital Council.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillOfLadingRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillOfLadingResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/bill-of-ladings/update/{proNumber}": {
      "put": {
        "tags": [
          "Bill of Ladings"
        ],
        "summary": "Update Bill of Lading",
        "description": "Updates an existing bill of lading with Dayton Freight based on the standards of the LTL Digital Council.",
        "parameters": [
          {
            "name": "proNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillOfLadingRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillOfLadingResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tracking/{proNumber}/history": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Tracking History By Pro",
        "description": "Gets the tracking history for a shipment.",
        "parameters": [
          {
            "name": "proNumber",
            "in": "path",
            "description": "The PRO number.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingHistoryResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tracking/by-number": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Track By Number",
        "description": "Tracks shipments using a parameter-value list of numbers.The type of number is specified by the type parameter.\n\nTracking by a pickup shipment id (PSID) will only return results once the shipments have been assigned PRO numbers and scanned by a Dayton Freight driver.",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TrackingNumberType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingShipmentsResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tracking/by-date": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Track By Date",
        "description": "Tracks Dayton Freight shipments using a date range and Dayton Freight account number. The date range for all requests are limited to 31 days.",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "The start date of the date range to search for shipments",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date of the date range to search for shipments",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer",
            "in": "query",
            "description": "The account code for the shipments returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingShipmentsResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tracking/pending-shipments": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Pending Shipments By Account",
        "description": "Tracks pending shipments using a Dayton Freight account number. Pending shipments are shipments that have not been delivered within the last 30 days.",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingShipmentsResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/pickups/create": {
      "post": {
        "tags": [
          "Pickups"
        ],
        "summary": "Create Pickup",
        "description": "Creates a pickup request.\n\nIntegration with this endpoint can be tested by setting the <strong>isTest</strong> property to true. By sending the value true for <strong>isTest</strong> a pickup will NOT be created in the Dayton Freight pickup system and the fake pickup number XXX-1234 will be returned.\n\n\n\nCreating a pickup generates a \"Pickup Number\" (e.g. DAY-123456) that encompasses all of the shipments contained within the pickup request. Each shipment (sometimes referred to as an item or line item) within the pickup is given a unique identifier called the \"Pickup Shipment ID\", abbreviated as \"PSID\". Both the Pickup Number or a shipment's PSID can be used to track the progress of the pickup on the TrackByNumbers endpoint.\n\n<table class=\"table\"><thead><th>Pickup Requirements and Restrictions</th></thead><tbody><tr><td>Times should be in shipper’s local time without a time zone indicator in the following format: YYYY-MM-DDThh:mm:ss</td></tr><tr><td>The Ready datetime cannot be prior to the current local date and time.</td></tr><tr><td>The Ready datetime cannot be after 5:00pm local time.</td></tr><tr><td>The Ready datetime must be at least 2 hours before the provided Close datetime.</td></tr><tr><td>Pickups cannot be scheduled on holidays or weekends.</td></tr><tr><td>The Ready datetime must be within 45 days of the current date.</td></tr><tr><td>A minimum of 1 shipment must be specified.</td></tr><tr><td>Handling units on a shipment is required and must be an integer between 1 and 999 units.</td></tr><tr><td>Weight on a shipment is required and must be an integer between 1 and 40,000 pounds.</td></tr><tr><td>Comments, CustomerReferenceNumber, and PickupInstructions are concatenated in our pickup system and the total length of all 3 properties must be less than 230 characters.</td></tr></tbody></table>\n\n<b>Accessorials with Service Restrictions</b>\n\n<table class=\"table\"><thead><th colspan='2'>Pickup Services</th></thead><tbody><tr><td>NOT</td><td>Appointment Needed or Call Before</td></tr><tr><td>RESIP</td><td>Residential Pickup</td></tr></tbody></table>\n\n<table class=\"table\"><thead><th colspan='2'>Delivery Services</th></thead><tbody><tr><td>AIRDEL</td><td>Airport</td></tr></tr><tr><td>NOT</td><td>Appointment Needed or Call Before</td></tr><tr><td>CCVD</td><td>Chicago Trade Show, Exhibition Hall</td></tr><tr><td>LIFT</td><td>Liftgate Trailer for Delivery</td></tr><tr><td>RESID</td><td>Residential Delivery</td></tr><tr><td>CVD</td><td>Trade Show</td></tr><tr><td>LIMIT</td><td>Limited Access (church, school, restaurant, etc.)</td></tr></tbody></table>\n\n<table class=\"table\"><thead><th colspan='2'>Shipment Characteristics</th></thead><tbody><tr><td>EXLG07 - EXLG20</td><td>Overlength Freight 7-20 Feet</td></tr></tbody></table>",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupResponseModelOfPickupRequestResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/pickups/update/{pickupId}": {
      "put": {
        "tags": [
          "Pickups"
        ],
        "summary": "Update Pickup",
        "description": "Updates the specified pickup based on Dayton Freight pickup number.",
        "parameters": [
          {
            "name": "pickupId",
            "in": "path",
            "description": "The Dayton Freight pickup number (e.g. DAY-123456).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupResponseModelOfPickupRequestResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/pickups/delete/{pickupId}": {
      "delete": {
        "tags": [
          "Pickups"
        ],
        "summary": "Delete Pickup",
        "description": "Deletes an existing Pickup Request.",
        "parameters": [
          {
            "name": "pickupId",
            "in": "path",
            "description": "The Dayton Freight pickup number (e.g. DAY-123456).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePickupResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/pickups": {
      "get": {
        "tags": [
          "Pickups"
        ],
        "summary": "Get Pickup",
        "description": "Gets an existing Pickup Request.",
        "parameters": [
          {
            "name": "lookupValue",
            "in": "query",
            "description": "The value to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lookupType",
            "in": "query",
            "description": "The type of value to look up",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PickupRequestLookupType"
            }
          },
          {
            "name": "requestType",
            "in": "query",
            "description": "The type of request to make",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PickupRequestType"
            }
          },
          {
            "name": "isTest",
            "in": "query",
            "description": "Indicates whether the submitted request is intended to be a test",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPickupResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/rates/create": {
      "post": {
        "tags": [
          "Rates"
        ],
        "summary": "Create Rate",
        "description": "Creates a new rate estimate.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskOfRateResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskOfRateResponseModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/rates/{number}": {
      "get": {
        "tags": [
          "Rates"
        ],
        "summary": "Get Rate",
        "description": "Gets the rate estimate details by rate estimate id.",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The quote number of the rate estimate to get.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/create-account-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Create Account Event",
        "description": "Emulates a account-created.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-account-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Update Account Event",
        "description": "Emulates a account-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/delete-account-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Delete Account Event",
        "description": "Emulates a account-deleted.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDeleted"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/get-account/{id}": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Account",
        "description": "Gets an account entity by Id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/create-location-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Create Location Event",
        "description": "Emulates a location-created.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationCreated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-location-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Update Location Event",
        "description": "Emulates a location-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/delete-location-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Delete Location Event",
        "description": "Emulates a location-deleted.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDeleted"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/get-location/{id}": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Location",
        "description": "Gets a location entity by Id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/create-shipment-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Create Shipment Event",
        "description": "Emulates a shipment-created.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCreated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-weight-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Update Weight Event",
        "description": "Emulates a weight-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeightUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-handling-units-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Update Handling Units Event",
        "description": "Emulates a handling-units-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HandlingUnitsUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-pieces-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Update Pieces Event",
        "description": "Emulates a pieces-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PiecesUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/image-created-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Image Created Event",
        "description": "Emulates an image-created.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageCreated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/shipment-location-updated-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Shipment Location Updated Event",
        "description": "Emulates a location-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationUpdated2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/shipment-account-updated-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Shipment Account Updated Event",
        "description": "Emulates a account-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdated2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-appointment-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Shipment Appointment Created Event",
        "description": "Emulates a appointment-created.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-revenue-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Shipment Revenue Updated Event",
        "description": "Emulates a revenue-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevenueUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/shipment-delivered-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Shipment Delivered Event",
        "description": "Emulates a shipment-delivered.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentDelivered"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/get-shipment/{proNumber}": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Shipment",
        "description": "Gets a shipment entity by PRO.",
        "parameters": [
          {
            "name": "proNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/get-shipment-model/{proNumber}": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Shipment Model",
        "description": "Gets a shipment entity by PRO.",
        "parameters": [
          {
            "name": "proNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-terms-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Terms Updated Event",
        "description": "Emulates a terms-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    },
    "/v1/tests/update-reference-numbers-event": {
      "post": {
        "tags": [
          "Tests"
        ],
        "summary": "Reference Numbers Updated Event",
        "description": "Emulates a reference-number-updated.v1 event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferenceNumberUpdated"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKey": [ ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessorialsModel": {
        "type": "object",
        "properties": {
          "codes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of services requested for the shipment.",
            "nullable": true
          },
          "hazardousDetail": {
            "$ref": "#/components/schemas/HazardousDetailModel"
          },
          "cod": {
            "$ref": "#/components/schemas/CashOnDeliveryModel"
          },
          "sortAndSegregateDetails": {
            "$ref": "#/components/schemas/SortAndSegregateDetailsModel"
          },
          "fullValueCoverageDetails": {
            "$ref": "#/components/schemas/FullValueCoverageDetailsModel"
          },
          "markDetails": {
            "$ref": "#/components/schemas/MarkDetailsModel"
          },
          "limitedAccessType": {
            "$ref": "#/components/schemas/LimitedAccessTypeModel"
          },
          "timeCriticalDetails": {
            "$ref": "#/components/schemas/TimeCriticalDetailsModel"
          },
          "appointmentDetails": {
            "$ref": "#/components/schemas/AppointmentDetailsModel"
          }
        },
        "description": "Specifies accessorials codes and accompanying data."
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address3"
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "parent": {
            "$ref": "#/components/schemas/Account"
          },
          "accountClass": {
            "$ref": "#/components/schemas/NullableOfAccountClass"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account2"
            }
          }
        }
      },
      "Account2": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "nullable": true
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "parent": {
            "$ref": "#/components/schemas/Account"
          },
          "accountClass": {
            "$ref": "#/components/schemas/NullableOfAccountClass"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account2"
            }
          }
        }
      },
      "Account3": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "nullable": true
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "parent": {
            "$ref": "#/components/schemas/Account"
          },
          "accountClass": {
            "$ref": "#/components/schemas/NullableOfAccountClass"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account2"
            }
          }
        },
        "nullable": true
      },
      "Account4": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address3"
          },
          "parentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "parent": {
            "$ref": "#/components/schemas/Account"
          },
          "accountClass": {
            "$ref": "#/components/schemas/NullableOfAccountClass"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account2"
            }
          }
        },
        "nullable": true
      },
      "AccountAddress": {
        "required": [
          "name",
          "line1",
          "line2",
          "city",
          "state",
          "zip",
          "country"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "nullable": true
      },
      "AccountClass": {
        "required": [
          "abbreviation",
          "name"
        ],
        "type": "object",
        "properties": {
          "abbreviation": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "nullable": true
      },
      "AccountCreated": {
        "required": [
          "id",
          "code",
          "address",
          "class",
          "parent"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/AccountAddress"
          },
          "class": {
            "$ref": "#/components/schemas/AccountClass"
          },
          "parent": {
            "$ref": "#/components/schemas/AccountId"
          }
        }
      },
      "AccountDeleted": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "AccountId": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "nullable": true
      },
      "AccountModel": {
        "required": [
          "name",
          "address1",
          "city",
          "stateProvince",
          "postalCode",
          "country",
          "contact"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "Company's account number/id",
            "nullable": true
          },
          "name": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Company's account name"
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Primary Address line"
          },
          "address2": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Secondary Address line",
            "nullable": true
          },
          "city": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "City name"
          },
          "stateProvince": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Two letter state/province code"
          },
          "postalCode": {
            "maxLength": 7,
            "minLength": 5,
            "pattern": "^(\\d{5}|[a-zA-Z]\\d[a-zA-Z][ -]?\\d[a-zA-Z]\\d)$",
            "type": "string",
            "description": "Postal code. It is 5-digit for the United States, 5-digit for Mexico, or 6-character alternating letters and digits (w/o space/hyphen in between 3rd and 4th characters) for Canada"
          },
          "country": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Three-letter country code"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactModel"
          }
        },
        "description": "Account details for the shipper."
      },
      "AccountModel2": {
        "required": [
          "name",
          "address1",
          "city",
          "stateProvince",
          "postalCode",
          "country",
          "contact"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "Company's account number/id",
            "nullable": true
          },
          "name": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Company's account name"
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Primary Address line"
          },
          "address2": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Secondary Address line",
            "nullable": true
          },
          "city": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "City name"
          },
          "stateProvince": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Two letter state/province code"
          },
          "postalCode": {
            "maxLength": 7,
            "minLength": 5,
            "pattern": "^(\\d{5}|[a-zA-Z]\\d[a-zA-Z][ -]?\\d[a-zA-Z]\\d)$",
            "type": "string",
            "description": "Postal code. It is 5-digit for the United States, 5-digit for Mexico, or 6-character alternating letters and digits (w/o space/hyphen in between 3rd and 4th characters) for Canada"
          },
          "country": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Three-letter country code"
          },
          "contact": {
            "description": "Contact details. Bill To, Remit To, Customs Broker, Origin, Destination."
          }
        },
        "description": "Account details for the destination."
      },
      "AccountModel3": {
        "required": [
          "name",
          "address1",
          "city",
          "stateProvince",
          "postalCode",
          "country",
          "contact"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "Company's account number/id",
            "nullable": true
          },
          "name": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Company's account name"
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Primary Address line"
          },
          "address2": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Secondary Address line",
            "nullable": true
          },
          "city": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "City name"
          },
          "stateProvince": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Two letter state/province code"
          },
          "postalCode": {
            "maxLength": 7,
            "minLength": 5,
            "pattern": "^(\\d{5}|[a-zA-Z]\\d[a-zA-Z][ -]?\\d[a-zA-Z]\\d)$",
            "type": "string",
            "description": "Postal code. It is 5-digit for the United States, 5-digit for Mexico, or 6-character alternating letters and digits (w/o space/hyphen in between 3rd and 4th characters) for Canada"
          },
          "country": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Three-letter country code"
          },
          "contact": {
            "description": "Contact details. Bill To, Remit To, Customs Broker, Origin, Destination."
          }
        },
        "description": "Account details for the billTo.",
        "nullable": true
      },
      "AccountRateThresholds": {
        "type": "object",
        "properties": {
          "maxWeight": {
            "type": "integer",
            "format": "int32"
          },
          "maxLength": {
            "type": "integer",
            "format": "int32"
          },
          "maxCubicFeet": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "Defines the maximum thresholds for rating."
      },
      "AccountResponseModel": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The 7 character Dayton Freight account code."
          },
          "address": {
            "$ref": "#/components/schemas/Address2"
          },
          "rateThresholds": {
            "$ref": "#/components/schemas/AccountRateThresholds"
          },
          "isBillTo": {
            "type": "boolean",
            "description": "Indicates whether this account is a bill-to account."
          }
        }
      },
      "AccountsResponseModel": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountResponseModel"
            },
            "nullable": true
          },
          "messageStatus": {
            "$ref": "#/components/schemas/MessageStatusResponseModel"
          }
        }
      },
      "AccountUpdated": {
        "required": [
          "id",
          "code",
          "address",
          "class",
          "parent"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/AccountAddress"
          },
          "class": {
            "$ref": "#/components/schemas/AccountClass"
          },
          "parent": {
            "$ref": "#/components/schemas/AccountId"
          }
        }
      },
      "AccountUpdated2": {
        "required": [
          "proNumber",
          "account",
          "type",
          "address"
        ],
        "type": "object",
        "properties": {
          "proNumber": {
            "type": "integer",
            "format": "int64"
          },
          "account": {
            "$ref": "#/components/schemas/AccountId"
          },
          "type": {
            "$ref": "#/components/schemas/ShipmentAccountType"
          },
          "address": {
            "$ref": "#/components/schemas/ShipmentAddress"
          }
        }
      },
      "AdditionalReferenceNumberModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the reference number being provided."
          },
          "value": {
            "type": "string",
            "description": "Additional reference number that correlates to the additional reference name."
          }
        }
      },
      "Address": {
        "required": [
          "address1",
          "city",
          "state",
          "zip",
          "country"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The address name."
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Address line 1.",
            "nullable": true
          },
          "address2": {
            "maxLength": 30,
            "type": "string",
            "description": "Address line 2.",
            "nullable": true
          },
          "city": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The city."
          },
          "state": {
            "maxLength": 3,
            "minLength": 2,
            "type": "string",
            "description": "The state abbreviation."
          },
          "zip": {
            "maxLength": 10,
            "minLength": 5,
            "type": "string",
            "description": "The zip code (US and CA)."
          },
          "country": {
            "maxLength": 3,
            "minLength": 2,
            "type": "string",
            "description": "The country abbreviation."
          }
        }
      },
      "Address2": {
        "required": [
          "address1",
          "city",
          "state",
          "zip",
          "country"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The address name."
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Address line 1.",
            "nullable": true
          },
          "address2": {
            "maxLength": 30,
            "type": "string",
            "description": "Address line 2.",
            "nullable": true
          },
          "city": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The city."
          },
          "state": {
            "maxLength": 3,
            "minLength": 2,
            "type": "string",
            "description": "The state abbreviation."
          },
          "zip": {
            "maxLength": 10,
            "minLength": 5,
            "type": "string",
            "description": "The zip code (US and CA)."
          },
          "country": {
            "maxLength": 3,
            "minLength": 2,
            "type": "string",
            "description": "The country abbreviation."
          }
        },
        "description": "The address associated with the account."
      },
      "Address3": {
        "required": [
          "address1",
          "city",
          "state",
          "zip",
          "country"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The address name."
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Address line 1.",
            "nullable": true
          },
          "address2": {
            "maxLength": 30,
            "type": "string",
            "description": "Address line 2.",
            "nullable": true
          },
          "city": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "The city."
          },
          "state": {
            "maxLength": 3,
            "minLength": 2,
            "type": "string",
            "description": "The state abbreviation."
          },
          "zip": {
            "maxLength": 10,
            "minLength": 5,
            "type": "string",
            "description": "The zip code (US and CA)."
          },
          "country": {
            "maxLength": 3,
            "minLength": 2,
            "type": "string",
            "description": "The country abbreviation."
          }
        },
        "nullable": true
      },
      "AggregateException": {
        "type": "object",
        "properties": {
          "innerExceptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Exception"
            },
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "targetSite": {
            "$ref": "#/components/schemas/MethodBase"
          },
          "data": {
            "type": "object",
            "nullable": true
          },
          "innerException": {
            "$ref": "#/components/schemas/Exception"
          },
          "helpLink": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "hResult": {
            "type": "integer",
            "format": "int32"
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "hasValue": {
            "type": "boolean"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "nullable": true
      },
      "AppointmentDetailsModel": {
        "type": "object",
        "properties": {
          "pickup": {
            "$ref": "#/components/schemas/DateRangeModel2"
          },
          "delivery": {
            "$ref": "#/components/schemas/DateRangeModel3"
          }
        },
        "description": "Indicates appointment details. Required, if accessorials.codes contain APTP.",
        "nullable": true
      },
      "AppointmentUpdated": {
        "required": [
          "proNumber",
          "from",
          "to"
        ],
        "type": "object",
        "properties": {
          "proNumber": {
            "type": "integer",
            "format": "int64"
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BillOfLadingRequestModel": {
        "required": [
          "bol",
          "version",
          "payment",
          "commodities",
          "origin",
          "destination",
          "billTo"
        ],
        "type": "object",
        "properties": {
          "bol": {
            "$ref": "#/components/schemas/InfoModel"
          },
          "version": {
            "type": "string",
            "description": "Indicates which minor version of the Bill of Lading spec you are consuming"
          },
          "images": {
            "$ref": "#/components/schemas/ImagesModel"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationModel"
            },
            "description": "Optional contact information to receive updates about shipment movements via email and/or SMS messaging."
          },
          "referenceNumbers": {
            "$ref": "#/components/schemas/ReferenceNumbersModel"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentModel"
          },
          "commodities": {
            "$ref": "#/components/schemas/CommodityModel"
          },
          "shipmentTotals": {
            "$ref": "#/components/schemas/ShipmentTotalsModel"
          },
          "accessorials": {
            "$ref": "#/components/schemas/AccessorialsModel"
          },
          "origin": {
            "$ref": "#/components/schemas/AccountModel"
          },
          "destination": {
            "$ref": "#/components/schemas/AccountModel2"
          },
          "billTo": {
            "$ref": "#/components/schemas/AccountModel3"
          },
          "customsBroker": {
            "$ref": "#/components/schemas/CustomsBrokerModel"
          }
        }
      },
      "BillOfLadingResponseModel": {
        "type": "object",
        "properties": {
          "images": {
            "$ref": "#/components/schemas/ImageResponseModel2"
          },
          "referenceNumbers": {
            "$ref": "#/components/schemas/ReferenceNumberResponseModel"
          },
          "messageStatus": {
            "$ref": "#/components/schemas/MessageStatusResponseModel2"
          }
        }
      },
      "BillToAddressModel": {
        "type": "object",
        "properties": {
          "btAccountNumber": {
            "type": "string",
            "description": "Account number for Bill To (not required for physical, but may be needed for digital transmission. Not all carriers require)",
            "nullable": true
          },
          "btAddressName": {
            "type": "string",
            "description": "The name of the company for a given address",
            "nullable": true
          },
          "btAddressLine1": {
            "type": "string",
            "description": "The primary address line for a given address",
            "nullable": true
          },
          "btAddressLine2": {
            "type": "string",
            "description": "The secondary address line for a given address",
            "nullable": true
          },
          "btCity": {
            "type": "string",
            "description": "The city for a given address",
            "nullable": true
          },
          "btState": {
            "type": "string",
            "description": "The two-letter state code for a given address",
            "nullable": true
          },
          "btZip": {
            "type": "string",
            "description": "The 5-digit (or 6-characters for Canada) zip code for a given address",
            "nullable": true
          },
          "btCountry": {
            "type": "string",
            "description": "The country for a given address (CAN, MEX, USA). Protects against overlap in different countries.",
            "nullable": true
          },
          "btContactName": {
            "type": "string",
            "description": "Name of contact (attention or contact)",
            "nullable": true
          },
          "btPhoneNumber": {
            "type": "string",
            "description": "The phone number for a given address",
            "nullable": true
          },
          "btStoreNumber": {
            "type": "string",
            "description": "Number of the store",
            "nullable": true
          }
        },
        "description": "An array to hold bill To addresses",
        "nullable": true
      },
      "CashOnDeliveryModel": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Amount to be received for the COD.",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "description": "Currency of COD. Defaults to USD.",
            "nullable": true
          },
          "terms": {
            "type": "string",
            "description": "Payment terms associated with the COD.",
            "nullable": true
          },
          "customerCheckAcceptable": {
            "type": "boolean",
            "description": "Indicates whether or not a customer check or cash is acceptable."
          },
          "remitTo": {
            "$ref": "#/components/schemas/RemitToModel"
          }
        },
        "description": "Indicates Cash on delivery details. Required, if accessorials.codes contain COD.",
        "nullable": true
      },
      "Charges": {
        "type": "object",
        "properties": {
          "hasValue": {
            "type": "boolean"
          },
          "total": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "gross": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "fuelSurcharge": {
            "$ref": "#/components/schemas/FuelSurcharge"
          },
          "discount": {
            "$ref": "#/components/schemas/Discount"
          },
          "splitPercentage": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        }
      },
      "Charges2": {
        "type": "object",
        "properties": {
          "hasValue": {
            "type": "boolean"
          },
          "total": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "gross": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "fuelSurcharge": {
            "nullable": true
          },
          "discount": {
            "nullable": true
          },
          "splitPercentage": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "nullable": true
      },
      "ChargesResponseModel": {
        "type": "object",
        "properties": {
          "discount": {
            "$ref": "#/components/schemas/DiscountResponseModel"
          },
          "fuelSurcharge": {
            "$ref": "#/components/schemas/FuelSurchargeResponseModel"
          },
          "grossCharges": {
            "type": "number",
            "description": "The gross charges.",
            "format": "float"
          },
          "total": {
            "type": "number",
            "description": "The total freight charges.",
            "format": "float"
          }
        }
      },
      "CityStateResponseModel": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "The city."
          },
          "state": {
            "type": "string",
            "description": "The state abbreviation."
          },
          "zip": {
            "type": "string",
            "description": "The zip code (US and CA)."
          }
        },
        "description": "Contains city, state, and zip code information."
      },
      "CommodityModel": {
        "required": [
          "handlingUnits",
          "lineItemLayout"
        ],
        "type": "object",
        "properties": {
          "handlingUnits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HandlingUnitsModel"
            },
            "description": "List of Handling Units."
          },
          "lineItemLayout": {
            "type": "string",
            "description": "Indicates if the Handling Unit/Line Item relationship is known. If this value is used, each Line Item associated to a Handling Unit is conditionally required to be passed within that Handling Unit's object."
          }
        },
        "description": "Specifies detailing the commodities being shipped."
      },
      "ContactModel": {
        "required": [
          "phone"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Contact person's name.",
            "nullable": true
          },
          "email": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Contact person's email.",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "description": "Contact person's phone.",
            "nullable": true
          },
          "phoneExt": {
            "type": "string",
            "description": "Contact person's phone extension.",
            "nullable": true
          }
        },
        "description": "Contact details. Bill To, Remit To, Customs Broker, Origin, Destination."
      },
      "ContactModel2": {
        "required": [
          "phone"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Contact person's name.",
            "nullable": true
          },
          "email": {
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "description": "Contact person's email.",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "description": "Contact person's phone.",
            "nullable": true
          },
          "phoneExt": {
            "type": "string",
            "description": "Contact person's phone extension.",
            "nullable": true
          }
        },
        "description": "Object containing contact details for the customs broker.",
        "nullable": true
      },
      "CustomsBrokerModel": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Used to identify a customs broker that is involved in a cross-border freight move. Valid Values: Import or Export.",
            "nullable": true
          },
          "name": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Company name associated with the customs broker location.",
            "nullable": true
          },
          "address1": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Primary Address line for the customsBroker location.",
            "nullable": true
          },
          "address2": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Secondary Address line for the customsBroker location.",
            "nullable": true
          },
          "city": {
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "City Name for the customsBroker location.",
            "nullable": true
          },
          "stateProvince": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Two letter state/province code for the customsBroker location.",
            "nullable": true
          },
          "postalCode": {
            "maxLength": 7,
            "minLength": 5,
            "pattern": "^(\\d{5}|[a-zA-Z]\\d[a-zA-Z][ -]?\\d[a-zA-Z]\\d)$",
            "type": "string",
            "description": "Postal code for the customsBroker location. It is  5-digit for the United States, 5-digit for Mexico, or 6-character alternating letters and digits (w/o space/hyphen in between 3rd and 4th characters) for Canada.",
            "nullable": true
          },
          "country": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Three letter country code for the customsBroker location.",
            "nullable": true
          },
          "contact": {
            "$ref": "#/components/schemas/ContactModel2"
          }
        }
      },
      "DateRangeModel": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "Start Date with or without time",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "description": "End Date with or without time",
            "format": "date-time",
            "nullable": true
          }
        },
        "description": "Time critical date details. Required when Type contains any value.",
        "nullable": true
      },
      "DateRangeModel2": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "Start Date with or without time",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "description": "End Date with or without time",
            "format": "date-time",
            "nullable": true
          }
        },
        "description": "Appointment date of the shipment requested to be picked up. Required when accessorials.codes contain APTP.",
        "nullable": true
      },
      "DateRangeModel3": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "Start Date with or without time",
            "format": "date-time",
            "nullable": true
          },
          "end": {
            "type": "string",
            "description": "End Date with or without time",
            "format": "date-time",
            "nullable": true
          }
        },
        "description": "Appointment date of the shipment requested to be delivered. Required when accessorials.codes contain APTD. Valid Formats: * YYYY-MM-DDTHH:mm:ss.sss",
        "nullable": true
      },
      "DeletePickupResponseModel": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "messageStatus": {
            "$ref": "#/components/schemas/MessageStatusResponseModel"
          }
        }
      },
      "DestinationAddressModel": {
        "type": "object",
        "properties": {
          "cneeAccountNumber": {
            "type": "string",
            "description": "The Account number for a given address",
            "nullable": true
          },
          "cneeAddressName": {
            "type": "string",
            "description": "The name of the company for a given address",
            "nullable": true
          },
          "cneeAddressLine1": {
            "type": "string",
            "description": "The primary address line for a given address",
            "nullable": true
          },
          "cneeAddressLine2": {
            "type": "string",
            "description": "The secondary address line for a given address",
            "nullable": true
          },
          "cneeCity": {
            "type": "string",
            "description": "The city for a given address",
            "nullable": true
          },
          "cneeState": {
            "type": "string",
            "description": "The two-letter state code for a given address",
            "nullable": true
          },
          "cneeZip": {
            "maxLength": 7,
            "minLength": 5,
            "pattern": "^[A-Za-z]\\d[A-Za-z][ ]?\\d[A-Za-z]\\d|(^\\d{5})$",
            "type": "string",
            "description": "The 5-digit (or 6-characters for Canada) zip code for a given address (some systems have spaces in them and CAN can be 7)",
            "nullable": true
          },
          "cneeCountry": {
            "type": "string",
            "description": "The country for a given address (CAN, MEX, USA). Protects against overlap in different countries.",
            "nullable": true
          },
          "cneeContactName": {
            "type": "string",
            "description": "Name of contact (attention or contact)",
            "nullable": true
          },
          "cneePhoneNumber": {
            "type": "string",
            "description": "The phone number for a given address",
            "nullable": true
          },
          "cneeStoreNumber": {
            "type": "string",
            "description": "Number of the store",
            "nullable": true
          }
        }
      },
      "Direction": {
        "enum": [
          "Origin",
          "Destination"
        ],
        "description": "Origin/Destination"
      },
      "Discount": {
        "type": "object",
        "properties": {
          "hasValue": {
            "type": "boolean"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "percentage": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "nullable": true
      },
      "Discount2": {
        "required": [
          "amount",
          "percent"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "percent": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "nullable": true
      },
      "DiscountResponseModel": {
        "type": "object",
        "properties": {
          "percentage": {
            "type": "number",
            "description": "The discount percentage.",
            "format": "float"
          },
          "amount": {
            "type": "number",
            "description": "The discount amount.",
            "format": "float"
          }
        }
      },
      "EmergencyContactModel": {
        "type": "object",
        "properties": {
          "emergName": {
            "type": "string",
            "description": "Name of Contact",
            "nullable": true
          },
          "emergPhone": {
            "type": "string",
            "description": "Phone of Contact",
            "nullable": true
          },
          "emergEmail": {
            "type": "string",
            "description": "Email of Contact",
            "nullable": true
          }
        }
      },
      "EquipmentInformationResponseModel": {
        "type": "object",
        "properties": {
          "driverName": {
            "type": "string",
            "description": "Driver Name",
            "nullable": true
          },
          "trailerNumber": {
            "type": "string",
            "description": "Trailer number assigned for Pickup",
            "nullable": true
          },
          "gpsCoordinates": {
            "$ref": "#/components/schemas/GeoCodeResponseModel"
          },
          "stopsAway": {
            "type": "integer",
            "description": "Number of stops scheduled prior to this Pickup Starting at 3 stops away",
            "format": "int32",
            "nullable": true
          }
        },
        "nullable": true
      },
      "Exception": {
        "type": "object",
        "properties": {
          "targetSite": {
            "$ref": "#/components/schemas/MethodBase"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object",
            "nullable": true
          },
          "innerException": {
            "$ref": "#/components/schemas/Exception"
          },
          "helpLink": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "hResult": {
            "type": "integer",
            "format": "int32"
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FuelSurcharge": {
        "type": "object",
        "properties": {
          "hasValue": {
            "type": "boolean"
          },
          "total": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "percentage": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "nullable": true
      },
      "FuelSurcharge2": {
        "required": [
          "total",
          "percent"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "percent": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "nullable": true
      },
      "FuelSurchargeResponseModel": {
        "type": "object",
        "properties": {
          "percentage": {
            "type": "number",
            "description": "The fuel surcharge percent.",
            "format": "float"
          },
          "amount": {
            "type": "number",
            "description": "The fuel surcharge amount.",
            "format": "float"
          }
        }
      },
      "FullValueCoverageDetailsModel": {
        "type": "object",
        "properties": {
          "monetaryValue": {
            "type": "string",
            "description": "Optional attribute to indicate value of the cargo. Required if accessorials.codes contain FVC.",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "description": "Optional attribute indicates currency of MonetaryValue. Defaults to USD.",
            "nullable": true
          }
        },
        "description": "Indicates full value coverage details. Required, if accessorials.codes contain FVC.",
        "nullable": true
      },
      "Geocode": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The service center's latitude.",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "description": "The service center's longitude.",
            "format": "double"
          }
        },
        "nullable": true
      },
      "GeoCodeResponseModel": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The service center's latitude.",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "description": "The service center's longitude.",
            "format": "double"
          }
        },
        "description": "Last reported coordinates of the Carrier equipment to make Pickup",
        "nullable": true
      },
      "GetPickupResponseModel": {
        "type": "object",
        "properties": {
          "pickupConfirmationId": {
            "type": "string",
            "description": "Pickup confirmation Number"
          },
          "status": {
            "$ref": "#/components/schemas/NullableOfPickupStatus"
          },
          "informationCode": {
            "$ref": "#/components/schemas/InformationCodeResponseModel"
          },
          "stopEta": {
            "type": "string",
            "description": "Estimated time of arrival at Pick-up (format ISO-8601)",
            "format": "date-time",
            "nullable": true
          },
          "stopEtaTimeZone": {
            "type": "string",
            "description": "UTC timezone",
            "nullable": true
          },
          "equipmentInformation": {
            "$ref": "#/components/schemas/EquipmentInformationResponseModel"
          },
          "shipmentsArray": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentResponseModel2"
            }
          },
          "messageStatus": {
            "$ref": "#/components/schemas/MessageStatusResponseModel"
          }
        }
      },
      "GuaranteedServiceUpgradeOption": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The additional amount this upgrade will cost",
            "format": "float"
          },
          "option": {
            "$ref": "#/components/schemas/RateServiceOptions"
          }
        }
      },
      "HandlingUnitDetail": {
        "type": "object",
        "properties": {
          "length": {
            "type": "integer",
            "description": "The length of the handling units being described",
            "format": "int32",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "description": "The width of the handling units being described",
            "format": "int32",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "description": "The height of the handling units being described",
            "format": "int32",
            "nullable": true
          },
          "weight": {
            "type": "integer",
            "description": "The weight (in pounds)",
            "format": "int32",
            "nullable": true
          },
          "totalWeight": {
            "type": "integer",
            "description": "Total weight (in pounds)",
            "format": "int32",
            "nullable": true
          },
          "unitType": {
            "type": "string",
            "description": "The type of the handling units being described",
            "nullable": true
          },
          "totalLinearFeetofShipment": {
            "type": "string",
            "description": "Total Linear feet of the shipment",
            "nullable": true
          },
          "unitCount": {
            "type": "integer",
            "description": "The number of handling units being described",
            "format": "int32",
            "nullable": true
          },
          "totalUnitCount": {
            "type": "integer",
            "description": "The total number of handling units being described",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "HandlingUnitsHazardousDetailsModel": {
        "type": "object",
        "properties": {
          "weight": {
            "type": "integer",
            "description": "Total weight of hazardous material coveraged by one description.",
            "format": "int32",
            "nullable": true
          },
          "weightUnit": {
            "type": "string",
            "description": "The unit of measurement for weight. Defaults to Pounds"
          },
          "class": {
            "type": "string",
            "description": "Class that the hazardous material is catogorized by.",
            "nullable": true
          },
          "unnaNumber": {
            "type": "string",
            "description": "Proper Identification Number (UN or NA) corresponding to the Proper Shipping Name.",
            "nullable": true
          },
          "properName": {
            "type": "string",
            "description": "Proper shipping name for the hazardous material.\r\nFrom DOT regulations 172.101",
            "nullable": true
          },
          "technicalName": {
            "type": "string",
            "description": "Technical name for the hazardous material. Not all hazardous items will have a technical name.\r\nFrom DOT regulations 172.101",
            "nullable": true
          },
          "packingGroup": {
            "type": "string",
[...]
